table {
    border-collapse: collapse; /* fusionne les bordures adjacentes */
    border: 1px solid black; /* ajoute une bordure noire de 1 pixel */
}

td {
    border: 1px solid black; /* ajoute une bordure noire de 1 pixel */
}

html {
    font-family: sans-serif;
}